@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	width: 100vw;
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.navbar {
	height: 60px;
	width: 100%;
	background-color: orange;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: sticky;
	top: 0;
	z-index: 1000;
}
.logotext {
	font-family: "Libre Baskerville", serif;                font-weight: 400;                                       font-style: normal;
	font-size: 17px;
	color: #ffffff;
}
.nav-links {
	list-style: none;
	display:flex;
}
.nav-links li {
	margin-left: 20px;
}
.nav-links a {
	text-decoration: none;
	color: #ffffff;
	font-size: 13px;
	transition: color 0.5s;
}
.nav-links a:hover {
	color: #000000;
}
.cabecalho {
	height: 500px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../assets/images/fundo.png");
	background-size: cover;
	background-position: center left;
}
.titlemain {
	color: #ffffff;
	text-shadow: 2px 2px 2px #00000080;
	font-size: 38px;
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
        font-style: normal;
	text-align: center;
}
.title1 {
	font-size: 20px;
}
.text {
	font-size: 12px;
}
.card1 {
	height: 300px;
	width: 100%;
	background-color: #5BC278;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 12px;
	margin: 10px;
}
.cardtext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-right: 30px;
}
.mapcontainer {
	height: 200px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content:center;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.map {
	height: 100%;
	width: 100%;
	border: 0;
}
.final {
	height: 125px;
	width: 100%;
	background-color: #454545;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 12px;
}
.iconcontainer {
	height: 27px;
	width: 27px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2000px;
	margin: 5px;
}
.icon {
	height: 15px;
	width: 15px;
}
