@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	width: 100vw;
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.navbar {
	height: 60px;
	width: 100%;
	background-color: #FFFFFF4D;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
	position: sticky;
	top: 0;
	z-index: 1000;
	padding-left: 25px;
	padding-right: 25px;
	backdrop-filter: blur(8px); /* aplica o blur */
    -webkit-backdrop-filter: blur(8px); /* para compatibilidade com Safari */
}
.logotext {
	font-family: "Libre Baskerville", serif;
        font-weight: 400;                                       font-style: normal;
	font-size: 17px;
	color: #000000;
}
.nav-links {
	list-style: none;
	display:flex;
}
.nav-links li {
	margin-left: 20px;
}
.nav-links a {
	text-decoration: none;
	color: #000000;
	font-size: 13px;
	transition: color 0.5s;
}
.nav-links a:hover {
	color: orange;
}
.cabecalho {
	height: 500px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../assets/images/fundo.png");
	background-size: cover;
	background-position: center left;
	border-radius: 12px;
}
.titlemain {
	color: #000000;
	text-align: center;
	font-size: 38px;
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
    font-style: normal;
	margin-top: 70px;
	margin-bottom: 70px;
}
.title1 {
	font-size: 20px;
	margin-bottom: 5px;
	font-family: "Epunda Slab", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.text {
	font-size: 12px;
	font-family: "Epunda Slab", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-align: center;
}
.text2 {
	font-size: 12px;
	font-family: "Epunda Slab", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-align: left;
}
.cardtext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 10px;
}
.mapcontainer {
	height: 200px;
	width: 350px;
	display: flex;
	align-items: center;
	justify-content:center;
	overflow: hidden;
	border-radius: 12px;
	margin: 10px;
}
.map {
	height: 100%;
	width: 100%;
	border: 0;
}
.card {
	height: 200px;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../assets/images/donate2.png");
	background-size: cover;
	background-position: bottom;
	border-radius: 12px;
	margin: 10px;
}
.iconcard {
	height: 60px;
	width: 60px;
}
.final {
	height: 90px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconcontainer {
	height: 27px;
	width: 27px;
	background-color: #212121;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2000px;
	margin: 5px;
	transition: background-color 0.5s; 
}
.iconcontainer:hover {
	background-color: #AA55AA;
}
.icon {
	height: 15px;
	width: 15px;
}
.prog {
	height: auto;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 10px;
}
.prog hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc; /* ou a cor que preferir */
    margin: 8px 0;
}
.progtitle {
	color: #000000;
	font-size: 20px;
	font-family: "Epunda Slab", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.progtext {
	color: #000000;
	font-size: 12px;
	margin-bottom: 10px;
	font-family: "Epunda Slab", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.sa {
	background-color: #FAFAFA;
	padding: 0px 20px 15px 20px;
	margin: 100px;
	border-radius: 12px;
	height: auto;
	width: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	box-shadow: 0 12px 35px #0000004D;
}
.profilesa {
	height: 80px;
	width: 80px;
	border-radius: 2000px;
	margin-top: 15px;
	margin-bottom: 30px;
	position: absolute;
	top: -22%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	box-shadow: 0 12px 35px #0000004D;
}
.sa h1 {
	margin-bottom: 15px;
}
.container-map {
	height: auto;
	width: 100%;
	background-color: #FAFAFA;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: 2px solid #F5F5F5;
}
@media (min-width: 600px) {
	.container-map {
		width: 550px;
	}
}
/*faz com quem a div container-map tenha margin-bottom de 12px em telas menores que 600px*/
@media (max-width: 600px) {
	.container-map {
		margin-bottom: 12px;
		flex-direction: column;
	}
}
.container-cards {
	height: auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 12px;
}
@media (max-width: 960px) {
	.container-cards {
		flex-direction: column;
		align-items: center;
	}
}



